*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row-reverse;
}
/* 
Main Axis & Cross Axis 
flex-direction: row (main_axis = x-axis)
flex-direction: column (main_axis = y-axis)
*/

.item{
    background-color: red;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}